html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: url('/public/img/bg2.jpg') no-repeat transparent;
    background-size: cover;
    padding-top: 40px; 
    padding-bottom: 40px; 
    background-color: blue;
  }

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

#login-main {
    max-width: 335px;
    padding: 15px;
    margin: 0 auto;
    display: none;
}